* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body.dark-mode{
    background-color: rgb(33, 1, 32);
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTZjMDliOTUyZGpyd3ZkOG4yY3poNHR6bTVua2EzcHIyNzJ0a3Q0NnJ3b3Vqa28ycSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/aRZ4vTsHnyW6A/200w.gif");
}
body.dark-mode header {
    padding: 0 32px;
   
    background-color: rgb(163, 36, 188);
    border-bottom: 2px solid #edbaf8;

   
}
.header-inner {
   
    max-width: 1200px;
    margin: 0 auto;
    height: 64px;
     padding-bottom: 10px; 
    display: flex;
    align-items: center;
}
.settings-menu{
 font-family: "Poppins", sans-serif;
    
       margin-left: 740px;
    font-size: 25px;
  gap: 8px;
    
   

}

body.dark-mode .settings-menu :hover{
    color: rgb(67, 67, 67);
}

  body.dark-mode .tile{
    width: 100%;
    height: 40px;
    background-color: rgb(237, 113, 229);
    display: flex;
    border: 1px solid black;
   
    align-items: center;
    justify-content: center;
    text-align: center;
    
   
} 
body.dark-mode .correct{
background-color: green;
}

body.dark-mode .incorrect{
background-color: gray;
}

body.dark-mode .higher, body.dark-mode .lower{
background-color: yellow;
}

body.dark-mode .logo{
    text-align: left;
    justify-content: left;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: black;
}


body.dark-mode #guesses-board {
    max-width: 600px;
    margin: 20px auto;
}


body.dark-mode .grid-labels, .guess-row{
 font-family: "Poppins", sans-serif;
    margin-top: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4px;
    justify-content: center;
    
    
    
}

body.dark-mode .grid-labels{
    color: white;
}


.answer-box-1, .answer-box-2, .answer-box-3, .answer-box-4{
    background-color: rgb(210, 186, 186);
    border-width: 1px;

}
.answer-box:focus{
    outline: none;
}

.answer-box:hover{
    cursor: default;
}




footer{
    background-color: aliceblue;
    
}

body.dark-mode button {
    background-color: rgb(203, 49, 203);
    padding: 10px;
    border: none;
    font-size: 20px;
     color: rgb(255, 255, 255);
     border-radius: 5px;

}

body.dark-mode .guess{
    border: 5px solid;
       background-color: white;
    border-color: #2f1c37;
    border-radius: 4px;
}
.typing-box {
    justify-self: center;
  
}

/* Z index basically is screen layer */
.overlay{
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(128, 128, 128, 0.4);
    z-index: 5;
    
}

body.dark-mode .inner {
    background-color: rgb(125, 24, 90);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 50%;
    z-index: 5;
    border-radius: 20px;
    transform: translate(50%, 50%);
    text-align: center;
   
}


body.dark-mode .dark-mode-button{
    background-color: rgb(219, 69, 172);
position: absolute;
 justify-content: center;
 top: 40%;
 transform: translate(-50%);
border-radius: 12px;
}
body.dark-mode .dark-mode-button:hover{
    background-color: rgb(253, 135, 196);
}
.exit{
    transform: translate(45%);
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.exit:hover{
    color: red;
}

@media(max-width: 768px){
.settings-menu{
  font-family: "Poppins", sans-serif;
    
       margin-left: auto;
    font-size: 25px;
  gap: 8px;
    
   

}




body.dark-mode .grid-labels, body.dark-mode .guess-row{
   grid-template-columns: repeat(5, 1fr);
        gap: 4px;
        margin-top: 10px;
    
    
}
body.dark-mode .grid-labels{
 margin-top: 200px;
 gap: 30px;
 justify-content: center;
 margin-left: 20px;
}

}


@media(max-width: 1200px){
body.dark-mode .grid-labels, body.dark-mode .guess-row{
   
        gap: 4px;
        margin-top: 10px;
    
}
body.dark-mode .grid-labels{
  
        gap: 4px;
        margin-top: 10px;
    
}

}

@media(max-width: 375px){
 body.dark-mode .grid-labels, body.dark-mode .guess-row{
   
        gap: 4px;
        margin-top: 10px;
    
}
body.dark-mode .grid-labels{
  
        gap: 4px;
        margin-top: 10px;
    
}

}